.joinUs {
  display: flex;
  margin-bottom: 113px;
  justify-content: space-between;
}

.joinUsInfo {
  margin-top: 20px;
  height: 240px;
  width: 538px;
}

.joinUsInfoContent {
  margin: 16px 0px 16px 0px;
}
