.tableWrapper {
  max-width: 100%;
  margin-bottom: 65px;
}

table {
  border-collapse: collapse;
  width: 100%;
  color: var(--fc-secondary);
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

th,
td {
  padding: 12px 24px;
}

th {
  text-align: start;
}

td:first-child,
th:first-child {
  padding: 8px 0px;
}

td:first-child {
  min-width: 64px;
}

td:nth-child(2),
th:nth-child(2) {
  width: 38%;
}

tbody tr:nth-of-type(odd) {
  background-color: var(--bg-table);
  border-top: 1px solid var(--border-blue);
  border-bottom: 1px solid var(--border-blue);
}

@media (max-width: 680px) {
  th,
  td {
    padding: 3px 6px;
  }
}

@media (max-width: 470px) {
  table {
    color: var(--fc-main);
  }
  tbody tr:nth-of-type(odd) {
    background-color: transparent;
    border-top: none;
    border-bottom: none;
  }
  tbody tr:nth-of-type(even) {
    background-color: var(--bg-table);
    border-top: 1px solid var(--border-blue);
    border-bottom: 1px solid var(--border-blue);
  }
  tbody tr:nth-of-type(5) {
    border-bottom: 1px solid var(--border-blue);
  }

  tr {
    position: relative;
  }

  th {
    display: none;
  }

  td {
    display: flex;
    justify-content: space-between;
    padding: 4px;
  }

  td:nth-of-type(1) {
    padding: 0px;
  }

  td:nth-of-type(2) {
    color: var(--fc-secondary);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-subtitle);
  }

  td:nth-of-type(5) {
    margin-bottom: 16px;
  }

  td:nth-of-type(6) {
    color: var(--fc-secondary);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-subtitle);
    gap: 5px;
    position: absolute;
    top: 0px;
    right: 0px;
  }

  .avatar {
    position: absolute;
    left: 24px;
    top: 40px;
  }

  td:nth-of-type(3)::before {
    content: "Rarity: ";
    margin-left: 120px;
  }
  td:nth-of-type(4)::before {
    content: "Total games: ";
    margin-left: 120px;
  }
  td:nth-of-type(5)::before {
    content: "Games won: ";
    margin-left: 120px;
  }
  td:nth-of-type(6)::after {
    content: " ETH";
  }
}
