.tableWrapper {
    max-width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
  color: var(--fc-secondary);
}

.avatar {
  border-radius: 50%;
  height: 100%;
}

th,
td {
  padding: 12px 24px;
}

th {
  text-align: start;
}

td:first-child,
th:first-child {
  padding: 8px 0px;
}

td:nth-child(2),
th:nth-child(2) {
  width: 38%;
}

tr:nth-of-type(2n) {
  background-color: var(--bg-table);
  border-top: 1px solid var(--border-blue);
  border-bottom: 1px solid var(--border-blue);
}
