.feautures{
    margin-bottom: 65px;
    display: flex;
    flex-direction: column;
}

.featuresInfo {
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
}

.featuresInfoTitle {
  font-size: var(--fs-subtitle);
  font-weight: var(--fw-subtitle);
  letter-spacing: -0.48px;
  margin-right: 24px;
}

.featuresInfoContent {
  color: var(--fc-secondary);
  font-size: var(--fs-body);
  letter-spacing: -0.36px;
  margin-top: 6px;
}

.feautureCards {
  display: flex;
  justify-content: space-between;
}
