.feautures{
    margin-bottom: 65px;
    display: flex;
    flex-direction: column;
}

.featuresInfo {
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
}

.featuresInfoTitle {
  margin-right: 24px;
}

.featuresInfoContent {
  margin-top: 6px;
}

.feautureCards {
  display: flex;
  justify-content: space-between;
}
