.feautures {
    margin-bottom: 65px;
    display: block;
}

.featuresInfo {
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
}

.featuresInfoTitle {
  margin-right: 24px;
}

.featuresInfoContent {
  margin-top: 6px;
}

.feautureCards {
display: grid;
grid-template-columns: repeat(3, 1fr);
column-gap: 40px;
justify-content: center;
}

@media (max-width: 1268px) {
  .feautureCards {
   
    column-gap: 16px;
   
    }
  
}