.sectionTitle {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--fc-main);
  line-height: var(--lh-title);
  padding: 48px 0px 16px 0px;
  margin-bottom: 90px;

  font-size: var(--fs-title);
  font-weight: var(--fw-title);
}
