.sectionTitle {
  display: flex;
  justify-content: space-between;
  font-family: Kanit;
  font-size: 140px;
  color: var(--white);
  background: var(--bg);
  width: 100%;
  border-bottom: 1px solid var(--white);
  line-height: 140px;
  padding: 48px 0px 16px 0px;
  margin-bottom: 90px;
}


