@import "./variables.scss";
@import "./reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&family=Roboto&family=Roboto+Mono:wght@400;500&display=swap');

// font-family: 'Kanit', sans-serif;
// font-family: 'Roboto', sans-serif;

body {
  font-family: "Roboto Mono", sans-serif;
  background: var(--bg-main);
  color: var(--fc-main);
  font-size: (--fs-body);
}

h1, h2, h3, h4 {
font-family: Kanit;
}

a {
  color: var(--fc-main);
}

.appWrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
 
  margin: 0 auto;
}

.content {
  
  // max-width: 1440px;
  
  flex-grow: 1;
  padding: 0 120px;
}
