:root {
    //background color
    --bg-main: #060412;
    --bg-link: #272A2E;
    --bg-table: #080B27;

    //font color
    --fc-main: #B3B3B3;
    --fc-secondary:#FFF;
    
    //border color
    --border-blue:#204FFE;

    //warning color
    --warning-rose: #EB3795;

    // fonts
    --ff-primary: "Roboto Mono", sans-serif;
    --ff-secondary: 'Kanit', sans-serif;

    // title fonts
    --fw-title: 400;
    --fw-subtitle: 500;

    --fs-title: 140px;
    --lh-title: 140px;

    --fs-subtitle: 24px;
    --lh-subtitle: 140px;

    // body fonts
    --fs-body: 18px;
    --lh-body: normal;

    // btn fonts
    --fs-link: 16px;
    --lh-link: 24px;

    //error fonts
    --fs-error: 13px;
    --lh-error: 24px;
    --fw-error: 500;
    --ls-error: 0.26px;
}


// --white: #FFF;
    // --black: #000;
    // --accentBlue: #204FFE;
    // --darkGrey: #2F2F2F;
    // --lightGrey: #B3B3B3;
    // --bg: #060412;
    // --bgLink: #272A2E;
    // --bgTable: #080B27;
    // --warningRose: #EB3795;
