:root {
    --white: #FFF;
    --black: #000;
    --accentBlue: #204FFE;
    --darkGrey: #2F2F2F;
    --lightGrey: #B3B3B3;
    --bg: #060412;
    --bgLink: #272A2E;
    --warningRose: #EB3795;


    --titleWebFont: 112px;
    --titleTabletFont: 112px;
    --titleMobileFont: 48px;

    --subTitleWebFont: 24px;
    --subTitleTabletFont: 20px;
    --subTitleMobileFont: 18px;

    --bodyWebFont: 24px;
    --bodyTabletFont: 20px;
    --bodyMobileFont: 18px;

    --linkFont: 16px;
}

