@import "src/styles/functions";

:root {
    //background color
    --bg-main: #060412;
    --bg-link: #272A2E;
    --bg-table: #080B27;
    
    //font color
    --fc-main: #B3B3B3;
    --fc-secondary:#FFF;
    
    //border color
    --border-blue:#204FFE;

    //warning color
    --warning-rose: #EB3795;

    // fonts
    --ff-primary: "Roboto Mono", sans-serif;
    --ff-secondary: 'Kanit', sans-serif;

    // title fonts
    --fw-title: 400;
    --fw-subtitle: 500;

    --fs-title: 140px;
    --lh-title: 140px;

    --fs-subtitle: 24px;
    --lh-subtitle: 140px;

    // body fonts
    --fs-body: 18px;
    --lh-body: normal;

    // btn fonts
    --fs-link: 16px;
    --lh-link: 24px;

    //error fonts
    --fs-error: 13px;
    --lh-error: 24px;
    --fw-error: 500;
    --ls-error: 0.26px;
}

@media (max-width: 1440px) {
  :root {
    --fs-title: #{getFontClamp(112, 140, 744, 1440)};
    --fs-subtitle: #{getFontClamp(20, 24, 744, 1440)};
    --fs-body: #{getFontClamp(16, 18, 744, 1440)};
  }  
}


@media (max-width: 744px) {
  :root {
    --fs-title: #{getFontClamp(48, 112, 375, 744)};
    --fs-subtitle: #{getFontClamp(16, 20, 375, 744)};
    --fs-body: #{getFontClamp(14, 16, 375, 744)};
    --fs-link: #{getFontClamp(14, 16, 375, 744)};
  }  
}




