.heroSection {
  display: flex;
  flex-direction: column;
}

.heroSectionContent {
  padding: 0px 120px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  border-top: 2px solid var(--border-blue);
  border-bottom: 1px solid var(--border-blue);
}

.heroText {
  color: var(--fc-secondary);
  width: 100%;
  max-width: 640px;
  padding: 0px 70px 56px 24px;
}

.heroTextMobile {
  display: none;
}

.heroImages {
  border-left: 1px solid var(--border-blue);
  border-right: 1px solid var(--border-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroImages div:nth-child(2) {
  border-left: 1px solid var(--border-blue);
}

.heroTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 426px;
  width: 100%;
  overflow: hidden;

  div {
    display: flex;
    width: 200%;
    animation: heroTitle 8s linear infinite;
  }
}

.runningLine {
  font-size: 340px;
  line-height: 125.4%;
  text-transform: uppercase;
  white-space: nowrap;
  width: 100%;
}

@keyframes heroTitle {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 1268px) {
  .heroText {
    padding: 0px 30px 56px 24px;
  }
}

@media (max-width: 992px) {
  .heroSection {
    padding: 0px 24px;
  }

  .heroSectionContent {
    justify-content: center;
    padding: 0px;
  }
  .heroImages {
    width: 100%;
  }

  .heroText {
    display: none;
  }
}
