.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 120px;
  // padding: 15px 0px;
  background-color: var(--bg-main);
  position: sticky;
  top: 0;
  


  
  
}
