.link {
  padding: 12px 66px;
  background: var(--bg-link);
  display: flex;
  justify-content: center;
  align-items: center;
white-space: nowrap;



  font-weight: var(--fw-subtitle);
  line-height: var(--lh-link);
  font-size: var(--fs-link);
 

  letter-spacing: 0.32px;
  border: none;
  gap: 6.5px;

  &:hover {
    background: #272a2ee5;
  }
}



@media (max-width:992px) {
 .link {
  
 }

}