.link {
  // height: 48px;
  // width: 235px;
  padding: 12px 67px;
  background: var(--bg-link);
  display: flex;
  justify-content: center;
  align-items: center;


  font-weight: var(--fw-subtitle);
  line-height: var(--lh-link);
  font-size: var(--fs-link);
 

  letter-spacing: 0.32px;
  border: none;
  gap: 6.5px;

  &:hover {
    background: #272a2ee5;
  }
}
