.footer {
  height: 100px;
  background-color: var(--bg);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid var(--border-blue);
  border-bottom: 1px solid var(--border-blue);


  span {
    font-size: var(--fs-body);
    letter-spacing: -0.36px;
  }
}

.dexolaContacts {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 35px 116px;
  gap: 40px;
  border-left: 1px solid var(--border-blue);
  border-right: 1px solid var(--border-blue);
}
