.imageContainer {
    padding: 155px 116px;
    position: relative;
    flex: 1;

     img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        // object-position: 50% 0;
       
        top: 0;
        left: 0;
     }
}



@media(max-width: 744px) {
    // .imageContainer {
    //     padding: 155px 0px
    // }
      }

@media(max-width: 680px) {
    .imageContainer {
        padding: 155px 80px;
    }
      }
  