.cardWrapper {
  width: 373px;
  height: 565px;
  border: 1px solid var(--accentBlue);

  a {
    width: 309px;
  }
}

.cardImg {
  height: 307px;
  object-fit: cover;
}

.cardContent {
  padding: 24px;
}

.cardTitle {
  font-family: Kanit;
  font-size: 24px;
  font-weight: 500;
}

.cardTitleNumber {
  margin-right: 16px;
}

.cardText {
  padding: 16px 0px;
  color: var(--lightGrey);
  font-family: Roboto Mono;
  font-size: 18px;
  letter-spacing: -0.36px;
  width: 344px;
}
