.cardWrapper {
  max-width: 373px;
  max-height: 565px;
  border: 1px solid var(--border-blue);

  a {
    width: 309px;
  }
}

.cardImg {
  height: 307px;
  object-fit: cover;
}

.cardContent {
  padding: 24px;
}

.cardTitle {
  font-size: var(--fs-subtitle);
  font-weight: var(--fw-subtitle);
}

.cardTitleNumber {
  margin-right: 16px;
}

.cardText {
  padding: 16px 0px;
  color: var(--fc-secondary);
  font-size: 18px;
  letter-spacing: -0.36px;
  width: 344px;
}
