.cardWrapper {
  border: 1px solid var(--border-blue);
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.cardContentWrapper {
  flex-grow: 1;
}

.cardLink {
  padding: 0px 23px 23px 23px;
}

.imgContainer {
  overflow: hidden;
  position: relative;
  padding: 0px 0px 82.75% 0px;
}

.cardImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.cardContent {
  padding: 23px 23px 0px 23px;

  h3 {
    display: flex;
  }
}

.cardTitleNumber {
  margin-right: 16px;
}

.cardText {
  padding: 16px 0px;
}

@media (max-width: 1268px) {
  .cardContent {
    padding: 16px;
  }
}

@media (max-width: 992px) {
  .cardLink a {
    padding: 12px 30px;
  }
}

@media (max-width: 744px) {
  .cardContent {
    padding: 16px 16px 0px 16px;
    max-width: 400px;
    h3 {
      display: block;
    }
  }

  .cardLink {
    padding: 0px 16px 16px 16px;
  }
}

@media (max-width: 680px) {
  .cardContent {
    h3 {
      display: flex;
    }
  }
}
